<div class="container">
    <h1>View Check</h1>
  
    <a href="#" routerLink="/check/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ check.id }}</p>
    </div>
   
    <div>
        <strong>Website name:</strong>
        <p>{{ check.websiteName }}</p>
    </div>
   
    <div>
        <strong>Website url:</strong>
        <p>{{ check.websiteUrl }}</p>
    </div>

    <div>
        <strong>Website Frequency:</strong>
        <p>{{ check.websiteFrequency }}</p>
    </div>
   
</div>